<h1>Hello, {{ title }}</h1>
<button (click)="invokeLambdaFunction()">Trigger Lambda</button>
<amplify-authenticator>
  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
    <h1>Welcome {{ user.username }}!</h1>
    <button (click)="signOut()">Sign Out</button>
  </ng-template>
</amplify-authenticator>

<div class="upload-container">
  <input type="file" id="fileInput" (change)="onFileSelected($event)" />
  <button (click)="uploadFile()">Upload</button>
</div>
<router-outlet />
